<%if logged_in?%>
    <h2>Welcome Back <%=User.find(session[:user_id]).first_name.capitalize%>!</h2>
    <div style ="display:flex;">
        <%= button_to  "My Events", user_events_path(current_user.id), method: :get, class: "btn btn-primary"%>
        <div class="divider"> </div>
        <%= button_to  "Events I'm Attending", user_events_path(current_user.id), method: :get, params: {rsvpd: true}, class: "btn btn-primary"%>
        <div class="divider"> </div>
        <%= link_to  "Create New Event", new_user_event_url(current_user.id), class: "btn btn-success" %>
        <div class="divider"> </div>
        <%= link_to  "Logout", logout_path, class: "btn btn-danger" %>
    </div>
    <br>
    <h2>Upcoming Events: </h2>
    <div class="upcomingEvents list-group">
        <ul class="eventList">
        </ul>
    </div>
    <button class="btn btn-success js-moreEvent" data-id="23">Show Events</button>
<%else%>
<h3> Social Events is a rails web application that allows users to create and join events.</h3>
<div style ="display:flex;">
    <%= button_to  "Login", login_path, method: :get, class: "btn btn-success"%>
    <div class="divider"> </div>
    <%= link_to "Log In with Google", '/auth/google_oauth2', class: "btn btn-success"%>
    <div class="divider"> </div>
    <%= button_to  "Sign Up", signup_path, method: :get, class: "btn btn-primary"%>

    
</div>



<%end%>

<script type="text/javascript" charset="utf-8">
  jQuery(function () {
    $(".js-more").one("click",function(e){
        e.stopPropagation()
        let id = $(this).attr("data-id");
        console.log(id)
        console.log("/events/" + id + ".json")
        jQuery.getJSON("/events/" + id + ".json", function(data){
            $(`#title-${id}`).append(`<h2>Title: ${data["title"]}</h2>`)
            $(`#organizer-${id}`).text(`Organizer: ${data["user"]["first_name"]} ` + data["user"]["last_name"])
            $(`#date-${id}`).text(`Date: ${data["date"]}`)
            $(`#location-${id}`).text(`Location: ${data["location"]}`)
            $(`#description-${id}`).text(`Description: ${data["description"]}`)
        })
        
    })

        $(".js-moreEvent").one("click",function(e){
        e.stopPropagation()
        jQuery.getJSON("/events.json", function(data){
            console.log(data)
            data.forEach(event => {
                console.log(event)
                $(`.eventList`).append(`<li class ="list-group-item">
                <a href="/events/${event["id"]}">${event["title"]}</a>
                <big>Location: </big> ${event["location"]},
                <big>Date: </big> ${event["date"].split('T')[0]}
                </li>`)
             });
        })
        
    })
  });
</script>