<%if flash[:error]%>
    <div class="alert alert-danger" role="alert">
    <%= flash[:error]%>
    </div>
<%end%>
<%if my_resource?(@user)%>
    <h1>Your Profile:</h1>
<%else%>
    <h1><%=@user.first_name%>'s Profile:</h1>
<%end%>
<div>
<h2>Name: <%=@user.first_name%> <%=@user.last_name%></h2>
<h2>About <%=@user.first_name%>:</h2> <p><%=@user.bio%></p>
</div>
<div>
<h2>Attending Upcoming Events:</h2>
        <ul class = "list-group">
        <% @user.rsvped_events.upcoming.each do |event| %>
            <li class ="list-group-item"><%= link_to  event.title, event %>, <big>Location:</big> <%=event.location%>, <big>Date:</big> <%=event.date.strftime("%A, %d %b %Y %l:%M %p")%></li>
            </li>
        <%end%>
    </ul>
</div>

<%if my_resource?(@user)%>
    <br>
    <%= link_to  "Edit Profile", edit_user_path(@user), class: "btn btn-dark" %>
    
<%end%>