    <ul class = "list-group">
        <% events.each do |event| %>
            <li class ="list-group-item" ><%= link_to  event.title, event %> <br> 
            
                <div id="<%=event.id%>">
                    <div id="title-<%=event.id%>"></div>
                    <div id="organizer-<%=event.id%>"></div>
                    <div id="date-<%=event.id%>"></div>
                    <div id="location-<%=event.id%>"></div>
                    <div id="description-<%=event.id%>"></div>
                    <div id="url-<%=event.id%>"></div>
                </div>
                <button class="btn btn-primary js-more" data-id="<%=event.id%>">View Event</button>
            </li>
        <%end%>
    </ul>