
<%= form_for( @event) do |f| %>

    <%if @event.errors.any?%>
        <h2>Errors:</h2>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <%end%>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div>
    <%= f.label :title %>
    <%=f.text_field :title, required: true%>
    </div>

    <div>
    <%= f.label :description %>
    <%=f.text_area :description, required: true%>
    </div>

    <div>
    <%= f.label :location %>
    <%=f.text_field :location, required: true%>
    </div>

    <div>
    <%= f.label :date %>
    <%= f.datetime_field :date, required: true %>
    </div>
    
    <%=f.submit "Create Event!"%>
<% end %>