<%if flash[:error]%>
    <div class="alert alert-danger" role="alert">
    <%= flash[:error]%>
    </div>
<%end%>
<h1><%= @event.title %></h1>
<h2>Event Organizer: <%= link_to  @event.user.full_name, @event.user %></h2>
<h2>Date: <%=@event.date.strftime("%b %e, %l:%M %p")%></h2>
<h2>Location: <%= @event.location %></h2>
<h2>Description</h2>
<p><%= @event.description %></p>
<h3><%=@event.users.count%> Users Attending<h3>
 <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Show Users
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
  <ul>
    <%@event.users.each do |user|%>
        <%rsvp = user.rsvps.find_by(event_id: @event.id)%>
       <li> <%= link_to  "#{user.first_name} #{user.last_name}", user %> </li>
       <%="Note - #{rsvp.note}"  if rsvp.note%>
    <%end%>
    </ul>
  </div>
</div>
<%= render partial: "rsvps/rsvpbutton1" %>
<br>
<% if my_resource?(@event)%>
<div style ="display:flex;">
<%= link_to  "Edit Event", edit_event_path(@event), class: "btn btn-dark" %>  
<div class="divider"> </div>
<%= button_to "Delete Event", {:controller => :events,:action => 'destroy', :id => @event.id }, :method => :delete, class: "btn btn-danger" %>
</div>
<%end%>