<%if flash[:error]%>
    <div class="alert alert-danger" role="alert">
    <%= flash[:error]%>
    </div>
<%end%>
<h1><%= @event.title %></h1>
<h2>Date: <%=@event.date.strftime("%b %e, %l:%M %p")%></h2>
<h2>Location: <%= @event.location %></h2>
<p><%= @event.description %></p>
<%= button_to "delete", {:controller => :events,:action => 'destroy', :id => @event.id }, :method => :delete %>
<%= render partial: "rsvps/rsvpbutton1" %>
<% if my_resource?(@event)%>
<h1> YES</h1>
<%end%>